{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}
{% block stylesheets %}
<style>
    #calendrier{
        width: 80%;
        margin: auto;
    }
</style>
{% endblock %}
{% block body %}
<div id="calendrier"></div> 
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locales: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events: {{ data|raw }},
            editable: true,
            selectable: true,
            eventResizableFromStart: true
        })
            calendar.on('eventClick',(e) => {
            function rgb2hex(orig){
                var rgb = orig.replace(/\s/g,'').match(/^rgba?\((\d+),(\d+),(\d+)/i);
                return (rgb && rgb.length === 4) ? "#" +
                ("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
                ("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
                ("0" + parseInt(rgb[3],10).toString(16)).slice(-2) : orig;
            }
                var check_color = rgb2hex(e.el.style.backgroundColor)
                if (check_color == "#0fdb1a") {
                    e.el.style.backgroundColor = "#eb4034"
                } else {
                    e.el.style.backgroundColor = "#0fdb1a"
                }

                calendar.save(e,rgb2hex(e.el.style.backgroundColor));
            })

        calendar.on('eventChange', (e) =>{
            calendar.save(e, rgb2hex(e.event.backgroundColor));
        })

        $(function(){
            calendar.save= function save(e, color) {
            let url = `/api/${e.event.id}/edit`
            let datafinal = {
                "title": e.event.title,
                "start": e.event.start,
                "fin": e.event.end,
                "backgroundColor": color
            }

            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(datafinal))
            }
            calendar.render();
        })
    } 
</script>

{% endblock %}