{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}
{% block stylesheets %}
<style>
    #calendrier{
        width: 80%;
        margin: auto;
    }
</style>
{% endblock %}
{% block body %}
<div id="calendrier"></div> 
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locales: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events: {{ data|raw }},
            editable: true,
            selectable: true,
            eventResizableFromStart: true
        })
            calendar.on('eventClick',(e) => {

                var check_color = e.el.style.backgroundColor
                if (check_color == "green") {
                    e.el.style.backgroundColor = "red"
                } else {
                    e.el.style.backgroundColor = "green"
                }

                calendar.save(e,e.el.style.backgroundColor);
            })

        calendar.on('eventChange', (e) =>{
            calendar.save(e, e.event.backgroundColor);
        })

        $(function(){
            calendar.save= function save(e, color) {
            let url = `/api/${e.event.id}/edit`
            let datafinal = {
                "title": e.event.title,
                "start": e.event.start,
                "fin": e.event.end,
                "backgroundColor": color
            }

            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(datafinal))
            }
            calendar.render();
        })
    } 
</script>

{% endblock %}